<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>Flexbox Vertical Align Example IV - long text overflowing a tall flexbox container</title>
    <link rel="help" href="http://www.princexml.com/forum/topic/2132/css-flexbox-support">
    <style type="text/css">

      .flex-container-2 {
        display: flex;
        flex-direction: column;
        background-color: #ccc;
        height: 58cm;
        padding: 20px;
      }

      .flex-container-2 div {
        background-color: white;
        border: 1px solid #999;
        padding: 10px;
      }

      .flex-container-2 div:last-child {
        margin-top: auto;
      }

    </style>
  <body>
    <p>Two boxes below should be stacked vertically at the top, the second should grow to accomodate the content and be split across pages as necessary. The third should be directly below the second and not inside the grey box.</p>
    <div class="flex-container-2">
      <div>Item 1</div>
      <div>
        <h1>Lorem ipsum.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
      </div>
      <div>Item 3</div>
    </div>


</body></html>