<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>Flexbox Equal Height Example</title>
    <link rel="help" href="http://www.princexml.com/forum/topic/2132/css-flexbox-support">
    <!--
      This test is same as -001 except with more text
    -->
    <style type="text/css">

      .flex-container {
        display: flex;
      }

      .flex-container div {
        border: 1px solid black;
        margin: 0 5px;
        padding: 10px;
        width: 200px;
      }

    </style>
  <body>
    <p>Below you should see three boxes laid out horizontally. All three should have the same height. They should be split across pages as required by the text in the center column. The left and right ones should be rendered as tall rectangles on all pages, with same total height as the center column.
</p>
    <div class="flex-container">
      <div>Lorem ipsum</div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores ut maxime fugit at.</p>
      </div>
      <div>Lorem ipsum</div>
    </div>


</body></html>