<!DOCTYPE html>
<html>
  <head>
  <title>HR tag next to floating element</title>
   <style type='text/css'>
      .image-container {
        float: left;
      }
    </style>
    <link rel="help" href="http://www.princexml.com/forum/topic/3554/borders-and-rules-overlap-floats">

  </head>
  <body>
  <p>The line on the right below should <b>not</b> extend into the blue box on the left</p>

    <div class="image-container">
      <img width="200" src="../support/frame-transparent.svg" />
    </div>
    <div class="passage">
      <h3 class="passage-heading">Lorem ipsum</h3>
      <hr></hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </body>
</html>