<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
  input{visibility: hidden;}
  </style>
  <body>
    <p>All table cells below should have same size</p>
    <table width="400" border="1">
      <col width="50%">
      <col width="50%">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="400" border="1">
      <col width="50%">
      <col width="50%">
      <tr>
        <td>&nbsp;</td>
        <td><input type="text" style="width: 100%" /></td>
      </tr>
    </table>
  </body>
</html>