<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prince test</title>
    <link rel="help" href="http://www.princexml.com/forum/topic/3683/overflow-hidden-bug">
    <style>
div {
    max-width: 1em;
    max-height: 1em;
    overflow: hidden;
}
    </style>
</head>
<body>
<p>You should see a single X character below</p>
<div>
    X X X X X X X X X X X X X X X<br>
    X X X X X X X X X X X X X X X<br>
    X X X X X X X X X X X X X X X<br>
    X X X X X X X X X X X X X X X<br>
</div>
</body>
</html>