<!DOCTYPE html><html>
<head><title>rotating named pages</title>
<link rel="help" href="http://www.princexml.com/forum/topic/1207/white-space-caused-by-named-landscape-page">
<style type="text/css">
@page big_table {
    prince-rotate-body: landscape;
    prince-shrink-to-fit: auto;
}

table.big {
    page: big_table
}
</style>
</head>
<body>
    <p>This document should have three pages</p>
    <ol>
    <li>One page rendered in portrait format, with text flowing normally</li>
    <li>One page rendered in landscape with a table, followed by more text</li>
    <li>One more page in portrait format</li>
    </ol>
    <p>There should be no blank pages.</p>

    <h1>Lorem ipsum</h1>

    <p>Consequatur illo quisquam debitis. Dignissimos repellendus consectetur ipsam quia ab. Asperiores iusto repudiandae placeat. Quis rerum impedit voluptatum sunt.</p>

    <p>Nihil consequatur est nam recusandae. Soluta eos ut consequatur illum sit. Tempore aut placeat sed ad. Accusamus exercitationem reprehenderit ratione est aliquam. Adipisci facere laudantium ad incidunt nihil consequatur.</p>

    <p>Nobis tempora repellat vel molestias dolorem deserunt necessitatibus. Quia incidunt possimus placeat labore voluptas cupiditate architecto soluta. Ullam qui officiis sed placeat. Nemo labore quia reprehenderit vel optio facere nesciunt. Consequatur dicta magnam omnis eum exercitationem ex consectetur.</p>

    <p>Quasi illo dolores incidunt eius molestiae culpa recusandae. Eum architecto reiciendis officia voluptatem iure. Ut mollitia rem aut quasi. Dolorum architecto quos perferendis temporibus sint deleniti.</p>

    <p>Facere quis sunt dolore quia reprehenderit omnis. Voluptatem vero sit laborum sunt aliquam voluptas dignissimos. Non dignissimos et eum voluptatem rerum. Et a consequuntur possimus aut earum enim eaque reiciendis. Dignissimos temporibus ea doloribus et voluptas repudiandae rerum.</p>

    <table class="big">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Type</th>
            <th>Tonnage</th>
            <th>Engine</th>
            <th>Speed</th>
            <th>Crew</th>
            <th>Passengers</th>
            <th>Age</th>
            <th>Type</th>
            <th>Tonnage</th>
            <th>Engine</th>
            <th>Speed</th>
            <th>Crew</th>
            <th>Passengers</th>
        </tr>
        <tr>
            <td>Lorem</td>
            <td>45</td>
            <td>Steel</td>
            <td>96</td>
            <td>Diesel</td>
            <td>40</td>
            <td>15</td>
            <td>38</td>
            <td>45</td>
            <td>Steel</td>
            <td>96</td>
            <td>Diesel</td>
            <td>40</td>
            <td>15</td>
            <td>38</td>
        </td>
        <tr>
            <td>Ipsum</td>
            <td>105</td>
            <td>Wood</td>
            <td>2</td>
            <td>Sail</td>
            <td>15</td>
            <td>20</td>
            <td>8</td>
            <td>105</td>
            <td>Wood</td>
            <td>2</td>
            <td>Sail</td>
            <td>15</td>
            <td>20</td>
            <td>8</td>
        </td>
    </table>

    <h1>Lorem ipsum</h1>

    <p>Consequatur illo quisquam debitis. Dignissimos repellendus consectetur ipsam quia ab. Asperiores iusto repudiandae placeat. Quis rerum impedit voluptatum sunt.</p>

    <p>Nihil consequatur est nam recusandae. Soluta eos ut consequatur illum sit. Tempore aut placeat sed ad. Accusamus exercitationem reprehenderit ratione est aliquam. Adipisci facere laudantium ad incidunt nihil consequatur.</p>

    <p>Nobis tempora repellat vel molestias dolorem deserunt necessitatibus. Quia incidunt possimus placeat labore voluptas cupiditate architecto soluta. Ullam qui officiis sed placeat. Nemo labore quia reprehenderit vel optio facere nesciunt. Consequatur dicta magnam omnis eum exercitationem ex consectetur.</p>

    <p>Quasi illo dolores incidunt eius molestiae culpa recusandae. Eum architecto reiciendis officia voluptatem iure. Ut mollitia rem aut quasi. Dolorum architecto quos perferendis temporibus sint deleniti.</p>

    <p>Facere quis sunt dolore quia reprehenderit omnis. Voluptatem vero sit laborum sunt aliquam voluptas dignissimos. Non dignissimos et eum voluptatem rerum. Et a consequuntur possimus aut earum enim eaque reiciendis. Dignissimos temporibus ea doloribus et voluptas repudiandae rerum.</p>

    <h1>Lorem ipsum</h1>

    <p>Consequatur illo quisquam debitis. Dignissimos repellendus consectetur ipsam quia ab. Asperiores iusto repudiandae placeat. Quis rerum impedit voluptatum sunt.</p>

    <p>Nihil consequatur est nam recusandae. Soluta eos ut consequatur illum sit. Tempore aut placeat sed ad. Accusamus exercitationem reprehenderit ratione est aliquam. Adipisci facere laudantium ad incidunt nihil consequatur.</p>

    <p>Nobis tempora repellat vel molestias dolorem deserunt necessitatibus. Quia incidunt possimus placeat labore voluptas cupiditate architecto soluta. Ullam qui officiis sed placeat. Nemo labore quia reprehenderit vel optio facere nesciunt. Consequatur dicta magnam omnis eum exercitationem ex consectetur.</p>

    <p>Quasi illo dolores incidunt eius molestiae culpa recusandae. Eum architecto reiciendis officia voluptatem iure. Ut mollitia rem aut quasi. Dolorum architecto quos perferendis temporibus sint deleniti.</p>

    <p>Facere quis sunt dolore quia reprehenderit omnis. Voluptatem vero sit laborum sunt aliquam voluptas dignissimos. Non dignissimos et eum voluptatem rerum. Et a consequuntur possimus aut earum enim eaque reiciendis. Dignissimos temporibus ea doloribus et voluptas repudiandae rerum.</p>
</body>
</html>