<!DOCTYPE html><html><head><title>text-decoration and whitespace</title>
<link rel="help" href="http://www.princexml.com/forum/topic/3501/text-decoration-of-single-space-in-span">
</head>
<body>
<p>You should see a hyphen-like horizontal line in both yellow boxes below:</p>
<p><span style="background-color: yellow; text-decoration: line-through;white-space:pre"> </span></p>
<p><span style="background-color: yellow; text-decoration: line-through;white-space:pre">&nbsp;</span></p>
</body>
</html>
